/*@media screen and (min-width: 375px) and (max-width: 992px){}*/
/*@media screen and (min-width: 375px){
    header{
        height: 130px; /*ajustar
    }

    .menu-hamburguer{
        display: block;
    }

    .menu-item{
        display: none;
    }

    #contatenos{
        display: none;
    }
    
    
}*/