
.pagina_meio{
    box-sizing: border-box;
    font-family: 'SF pro Display';
    height: 2000px;
}
.jobs{
    display: inline-block;
    vertical-align: top;
    width: 468px; 
    height: 131px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700; 
    font-size: 110px;  
    line-height: 131px;
    letter-spacing: -1.2px;
    color: #232340;
}
.textopg5{
    width: 320px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    padding-left: 150px;
    padding-bottom: 50px;
    color: #606060;
}
.imarrow{
    width: 30px;
    height: 30px;
    left: 14px;
    transform: rotate(-90deg);
}
.aj{
    width: 94px;
    height: 48px;
    left: 299px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #8B8B8B;

}
.todos{
    left: 0%;
    right: 0%;
    bottom: 7.84%;
    display: flex;
    flex-direction: column;
}